/*===============GENERAL CONTAINERS======================*/

/*
#body {
  background-color: rgba(2, 33, 54, 1);
}
*/

#body {
  background-color: rgba(1, 21, 35, 1);
}

.centering-container {
  text-align: center;
  width: 100%;
}

.general-outer-container {
  display: inline-block;
  width: 95%;
  margin: 5px 0px 0px 0px;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, .2);
  border-radius: 2px;
  color: white;
}

.form-element-box {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(52, 52, 52, .2);
  width: 90%;
  margin: 0 auto;
}

.form-element-box:hover {
  border-color: rgba(219, 219, 219, 1) !important;
}

.general-form-container {
  margin: 2px;
  padding: 5px;
  border-width: 2px;
  border-style: solid;
  border-radius: 2px;
  border-color: rgba(51, 45, 45, 1);
}


/*===========PROFILE AND LOGIN/REGISTER=================*/

#account {
  border-radius: 2px;
  background-color: rgba(219, 219, 219, 1) !important;
  color: rgba(52, 52, 52, 1);
}

/*
.account-form-container {
  margin: 10px 0px 0px 10px;
  display: inline-block;
  width: 95%;
  background-color: #d8d4d4;
  border-style: solid;
  border-color: rgba(52, 52, 52, 1);
  border-width: 1px;
  border-radius: 2px;
  padding: 2px;
  color: rgba(52, 52, 52, 1);
}
*/

.login-or-register-container {
  display: inline-block;
  max-width: 600px;
  margin: 20px;
  color: rgba(52, 52, 52, 1);
}


#register-or-login-link {
  border-radius: 2px;
  background-color: rgba(219, 219, 219, 1) !important;
}


/*=============== NAVGATION BAR =================*/

#account-options-selector {
  border-style: solid;
  border-width: 1px;
  border-radius: 2px 2px 2px 2px;
  border-color: rgba(52, 52, 52, 1);
  background-color: white;
  width: 140px;
  height: 30px;
}

#account-options-selector:hover {
  border-color: rgba(219, 219, 219, 1) !important;
}

.list-option {
  border-bottom-style: solid;
  border-bottom-color: rgba(52, 52, 52, 1);
  border-bottom-width: 1px;
}

.navbar {
  padding: 1px !important;
  background-color: rgba(219, 219, 219, 1) !important;
  border-bottom-style: solid !important;
  border-bottom-color: white !important;
  border-bottom-width: 2px !important;
  color: white !important;
}

.nav-item {
  margin: 0px 10px 0px 10px;
  color: white !important;
}

#nav-viewing-user {
  padding-top: 5px;
  font-size: 16px;
  color: black;
  max-width: 140px;
}

#nav-dropdown-title .nav-item {
  border-style: solid !important;
  border-width: 1px 1px 1px 1px !important;
  border-radius: 5px !important;
  color: white !important;
}

#navbar-toggle {
  border-color: rgba(52, 52, 52, 1) !important;
}

#navbar-toggle:hover {
  background-color: rgba(2, 33, 54, 1) !important;
}

#navbar-toggle:active {
  background-color: rgba(2, 33, 54, 1) !important;
}

#search-users-input-navbar {
  border-style: solid;
  border-width: 1px 0px 1px 1px;
  border-radius: 2px 0px 0px 2px;
  border-color: rgba(52, 52, 52, 1) !important;
  width: 110px;
  height: 30px;
  margin-top: 9px;
}

#search-users-input-button-navbar {
  border-style: solid;
  border-width: 1px 1px 1px 0px;
  border-radius: 0px 2px 2px 0px;
  border-color: rgba(52, 52, 52, 1) !important;
  height: 30px;
  width: 33px;
}

#search-users-input-button-navbar:hover {
  background-color: rgba(2, 33, 54, 1) !important;
  color: white !important;
}

#nav-viewing-user {
  margin-top: 9px;
  padding-top: 5px;
  padding-bottom: 4px;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-radius: 2px 2px 2px 2px;
  border-color: rgba(52, 52, 52, 1);
}

/*=================== DISCOVER USERS / SEARCH USERS PAGE ==================*/

#discover-users-container {
  text-align: center;
}

#search-users-form-bad-url {
  display: inline-block;
  width: 100%;
}

#search-users-input-bad-url {
  display: inline-block;
  margin: 20px 0px 20px 20px;
  border-style: solid;
  border-width: 1px 0px 1px 1px;
  border-radius: 2px 0px 0px 2px;
  border-color: rgba(52, 52, 52, 1);
  max-width: 50%;
}

#search-users-input-button-bad-url {
  display: inline-block;
  margin: 0px 20px 0px 0px;
  border-style: solid;
  border-width: 1px 1px 1px 0px;
  border-radius: 0px 2px 2px 0px;
  border-color: rgba(52, 52, 52, 1);
  min-width: 10%;
}

#register-login-button {
  border-color: rgba(52, 52, 52, 1) !important;
  width: auto !important;
  color: rgba(52, 52, 52, 1) !important;
  background-color: rgba(219, 219, 219, 1) !important;
}

#register-login-button:hover {
  background-color: #6b0700 !important;
}

.nav-link {
  color: rgba(52, 52, 52, 1) !important;
}

#no-content {
  text-align: center;
  margin-top: 5px;
}
