#all-tags-content-container {
  margin: 0 auto;
  max-width: 800px;
}

#all-tags-body-form {
  margin-top: 5px;
}

#all-tags-header {
  color: black;
  border-bottom-width: 3px !important;
}

#grid-for-tags {
  background-color: rgba(0, 0, 0, .2);
}

h3 {
  color: white;
}

.header {
  border-radius: 2px;
}

hr {
  display: inline-block;
  background-color: white !important;
  border: 0;
  height: 1px;
  position: relative;
  clear: both;
  border: none;
  width: 95%;
  margin: 0px 0px 5px 0px;
}

#photo-name-textbox {
  width: 95%;
  margin: 3px 0px 3px 0px;
  background-color: rgba(255, 255, 255, .7); 
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: white;
  border-radius: 2px;
  text-align: center;
}

.sub-header {
  font-size: 16px;
  font-weight: bold;
  margin: 3px;
  text-align: center;
}

#photos-sub-header {
  margin-bottom: 0px;
}

#go-to-tag-container {
  margin: 0px 5px 0px 5px;
}

.tagname-button {
  width: 100%;
  padding: 5px;
  border-style: solid !important;
  border-width: 1px !important;
  border-color: rgba(219, 219, 219, 1) !important;
  border-radius: 2px !important;
  color: rgba(52, 52, 52, 1);
  margin-bottom: 1px;
}

.tagname-button:hover {
  background-color: rgba(209, 209, 209, 1) !important;
  border-color: rgba(52, 52, 52, 1) !important;
}

.tagname-button:active {
  background-color: rgba(209, 209, 209, 1) !important;
  border-color: rgba(52, 52, 52, 1) !important;
}

.tag-content-container {
  text-align: center;
}

#tags-area {
  margin: 10px 15px 50px 15px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 2px;
  background-color: rgba(52, 52, 52, 1);
}

#tags-list {
  padding: 5px 0px 5px 0px;
  margin: 10px 10px 10px 10px;
}

#tags-with-photos-header {
  text-align: center;
  padding: 5px 0px 5px 0px;
  background-color: white;
  color: rgba(52, 52, 52, 1);
  border-width: 6px 5px 0px 5px;
  border-color: rgba(52, 52, 52, 1);
  border-style: solid;
  border-radius: 2px 2px 0px 0px;
}

#tags-without-photos-header {
  margin-top: 6px;
  text-align: center;
  padding: 5px 0px 5px 0px;
  background-color: white;
  color: rgba(52, 52, 52, 1);

  border-width: 0px 5px 0px 5px;
  border-color: rgba(52, 52, 52, 1);
  border-style: solid;
  border-radius: 2px 2px 0px 0px;
}

#tags-with-photos-body {
  padding: 0px 5px 0px 5px;
}

#tags-without-photos-body {
  padding: 0px 5px 0px 5px;
}
