/*//////////
/  BUTTON  /
//////////*/

/*========  CAROUSEL =============*/
.carousel {
  margin: 20px 20px 20px 20px;
  max-width: 1200px;
}

.carousel-item {
  text-align: center;
  height: 400px;
}

.carousel-item img {
  display: inline-block !important;
  max-height: 100%;
  max-width: 100%;
  box-shadow: 5px -5px 5px rgba(50, 50, 50, 0.3);
}

#carousel-caption {
  background-color: rgba(0, 0, 0, 0.3) !important;
  display: inline;
  margin: 0 auto;
  padding: 3px;
  border-radius: 2px;
}

#outer-carousel {
  max-width: 1200px;
}

#gallery-page {
  background-color: rgba(51, 45, 45, 1);
  padding-bottom: 20px;
  margin-bottom: 50px;
  margin-top: 10px;
  border-color: black;
  border-width: 1px;
}

/*=========== COLLAPSIBLE BOXES =============*/

.absolute-collapse-box {
  color: rgba(52, 52, 52, 1);
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 2;
}

.collapse-tags-box {
  padding-top: 2px;
}

#collapse-tags-active .btn {
  background-color: white !important;
  border-color: white !important;
  background-color: rgba(219, 219, 219, 1);
  color: black !important;
  width: auto !important;
}

#collapse-tags-active:hover .btn:hover {
  border-color: rgba(219, 219, 219, 1) !important;
  background-color: rgba(235, 235, 235, 1) !important;
}

#collapse-tags-inactive .btn {
  background-color: rgba(52, 52, 52, 1) !important;
  border-color: rgba(52, 52, 52, 1) !important;
  width: auto !important;
}

#collapse-tags-inactive:hover .btn:hover {
  border-color: rgba(219, 219, 219, 1) !important;
  background-color: rgba(32, 32, 32, 1) !important;
}

/*============ GENERAL FORMS/CONTAINERS ===========*/

#grid-border {
  margin: 5px;
  position: relative;
  z-index: 1;
  text-align: center;
}

#grid-container {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 2px;
  margin: 10px 10px 50px 10px;
  background-color: rgba(51, 45, 45, 1);
  padding: 3px;
}

#detail-image {
  max-width: 100%;
  max-height: 800px;
}

#detail-title {
  margin: 10px 0px 10px 0px;
  text-align: center;
  color: white;
}

#photo-detail-page {
  margin-bottom: 50px;
}

.tag-select-header {
  padding: 0px;
  margin: 2px 0px 0px 0px;
  font-weight: bold;
}

#add-tag-row {
  display: inline-block;
}

#add-tag-row .btn {
  background-color: rgba(2, 33, 54, .3) !important;
  border-color: rgba(2, 33, 54, .3) !important;
}

#add-tag-row:hover .btn:hover {
  border-color: rgba(219, 219, 219, 1) !important;
  background-color: rgba(2, 33, 54, .5) !important;
}

#delete-tag-row {
  display: inline-block;
}

#delete-tag-row .btn {
  background-color: rgba(2, 33, 54, .3) !important;
  border-color: rgba(2, 33, 54, .3) !important;
}

#delete-tag-row:hover .btn:hover {
  border-color: rgba(219, 219, 219, 1) !important;
  background-color: rgba(2, 33, 54, .5) !important;
}

.relations-box {
  display: inline-block;
}

#find-tag-by-name-container {
  width: 95%;
  margin-bottom: 0px;
}

#go-to-tag-container {
  width: 95%;
}


.photo-or-tag-add-form {
  width: 90%;
  display: inline-block;
  text-align: center;
  margin: 2px;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  background-color: rgba(219, 219, 219, 1);
}

.tag-select-container {
  background-color: rgba(219, 219, 219, 1) !important;
  padding: 5px;
  border-style: solid;
  border-color: rgba(51, 45, 45, 1);
  border-width: 1px;
  border-radius: 2px;
}

#submit-photo-button-container {
  text-align: center !important;
}

/*========== BUTTONS ================*/

/*TAG*/

#add-tag .btn {
  background-color: rgba(2, 33, 54, .3) !important;
  border-color: rgba(2, 33, 54, .3) !important;
  width: 100%;
}

#add-tag:hover .btn:hover {
  border-color: rgba(219, 219, 219, 1) !important;
  background-color: rgba(2, 33, 54, .5) !important;
}

#find-tag .btn {
  background-color: rgba(2, 33, 54, .3) !important;
  border-color: rgba(2, 33, 54, .3) !important;
  width: auto;
}

#find-tag:hover .btn:hover {
  border-color: rgba(219, 219, 219, 1) !important;
  background-color: rgba(2, 33, 54, .5) !important;
}

.danger-button:hover .btn:hover {
  background-color: red !important;
}

.tagname-button {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border-width: 1px;
  background-color: rgba(219, 219, 219, 1) !important;
  border-color: black;
  color: white;
  margin-bottom: 1px;
}

#active-tags .btn {
  margin: 1px;
}

#inactive-tags .btn {
  margin: 1px;
  color: white !important;
}

/* Button Group */

.btn-group {
  padding: 2px;
}

.photo-button-group .btn {
  background-color: rgba(2, 33, 54, .3) !important;
  border-color: rgba(2, 33, 54, .3) !important;
  width: auto !important;
  display: inline-block;
}

.photo-button-group:hover .btn:hover {
  border-color: rgba(51, 45, 45, 1) !important;
  background-color: rgba(2, 33, 54, .5) !important;
}

.photo-button-group:active .btn:active {
  border-color: rgba(51, 45, 45, 1) !important;
  background-color: rgba(2, 33, 54, .5) !important;
}

/* general add or delete */

.add-button {
  background-image: url('/static/app_main/plus-white.svg') !important;
  background-size: 50% !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.add-button:hover {
  background-image: url('/static/app_main/plus-black.svg') !important;
}

.remove-button {
  background-image: url('/static/app_main/garbage-white.svg') !important;
  background-size: 50% !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.remove-button:hover {
  background-image: url('/static/app_main/garbage-maroon.svg') !important;
}

.remove-tag-button {
  display: inline-block;
  margin: 5px 0px 5px 0px;
}

#submit-photo-button {
  display: inline-block !important;
  max-width: 50% !important;
  background-color: rgba(2, 33, 54, .3) !important;
  border-color: rgba(2, 33, 54, .3) !important;
  color: white;
}

#submit-photo-button:hover {
  border-color: rgba(219, 219, 219, 1) !important;
  background-color: rgba(2, 33, 54, .5) !important;
}

/*========== TOOLBARS =============*/

#main-toolbars-container {
  text-align: center;
}

.toolbar-container {
  display: inline-block;
  text-align: center;
}

.display-options-toolbar {
  justify-content: center !important;
  margin-top: 10px;
}

.display-options-toolbar .btn {
  color: rgba(52, 52, 52, 1);
  background-color: white;
  border-color: white;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  margin: 1px;
  width: 130px;
  display: inline-block;
  text-align: center;
}

.display-options-toolbar:hover .btn:hover {
  border-color: rgba(2, 33, 54, 1);
  background-color: rgba(235, 235, 235, 1);
}
.display-options-toolbar:focus .btn:focus {
  border-color: rgba(2, 33, 54, 1);
  background-color: rgba(235, 235, 235, 1);
}

.tags-and-photo-toolbar {
  justify-content: center !important;
  margin-top: 5px;
}

.tags-and-photo-toolbar .btn {
  color: rgba(52, 52, 52, 1);
  background-color: rgba(219, 219, 219, 1) !important;
  border-color: rgba(52, 52, 52, 0);
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  margin: 1px;
  width: 130px;
}

.tags-and-photo-toolbar:hover .btn:hover {
  border-color: rgba(2, 33, 54, 1);
  background-color: rgba(199, 199, 199, 1) !important;
}

.tags-and-photo-toolbar:focus .btn:focus {
  border-color: rgba(2, 33, 54, 1);
  background-color: rgba(199, 199, 199, 1) !important;
}

.tag-filter-toolbar {
  margin: 2px;
  padding: 1px;
  border-color: rgba(52, 52, 52, .4);
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
}
